{% extends 'base.html.twig' %}

{% block title %}Element{% endblock %}

{% block body %}
    <h1>Element</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ element.id }}</td>
            </tr>
            <tr>
                <th>ElementicNumber</th>
                <td>{{ element.ElementicNumber }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ element.symbol }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ element.name }}</td>
            </tr>
            <tr>
                <th>RelativeElementicMass</th>
                <td>{{ element.relativeElementicMass }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_element_index') }}">back to list</a>

    <a href="{{ path('app_element_edit', {'id': element.id}) }}">edit</a>

    {{ include('element/_delete_form.html.twig') }}
{% endblock %}
